.vscode
/tstTC74LCD.X/dist/
/tstTC74LCD.X/build/
/tstT1.X/build/
/tstT1.X/dist/
/PIC16F18875_Demo.X/build/
/PIC16F18875_Demo.X/dist/
/Lab_1.X/build/
/Lab_1.X/dist/
/Lab.X/build/
/Lab.X/dist/
/Lab.X/.ca/
